$font-color: black; 

.document-header-container {
    padding: 3vh 0;
    .document-header {
        font-size: 2vw;
        font-weight: 600;
        color: $font-color;
        @media (max-width: 800px) {
            font-size: 4.3vw;
        }
    }
    .document-header-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 1.5vh;
        .document-header-info {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            .document-header-info-container {
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                column-gap: 1vh;
                &:hover {
                    background-color: lighten($color: antiquewhite, $amount: 2);
                }
                .document-header-info-title {
                    font-weight: 600;
                    color: $font-color;
                    width: 30%;
                    @media (max-width: 800px) {
                        font-size: 2.5vw;
                        width: 55%;
                    }
                }
                .document-header-info-value {
                    color: $font-color;
                    @media (max-width: 800px) {
                        font-size: 2.2vw;
                    }
                }
            }
        }
    }
}