.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2vh;
    background: antiquewhite;
    padding: 5vh;
}