<div class="container">
    <app-cover></app-cover>
    <app-table-of-content></app-table-of-content>
    <app-document-header></app-document-header>
    <app-special-days></app-special-days>
    <app-destination-bands></app-destination-bands>
    <app-pdf-page></app-pdf-page>
    <!-- <button (click)="scrollToElement(target)"></button>
    <app-cover></app-cover>
    <app-table-of-content></app-table-of-content>
    <app-document-header></app-document-header>
    <app-special-days></app-special-days>
    <app-destination-bands></app-destination-bands>
    <app-pdf-page></app-pdf-page>
    <div #target>asdasdasds</div> -->
</div>