<app-pdf-page [pageFooterTitle]="'2'">
    <div class="apn-bands-container">
        <div class="apn-bands-header">APN Bands</div>
        <div class="apn-bands-content">
            <div *ngFor="let apnBand of apnBands" class="curreny-object-div">
                <!-- <div *ngFor="let data of currency | keyvalue" class="apn-bands-info">
                    <div class="apn-bands-info-title">{{data.key}}</div>
                    <div class="apn-bands-info-description">{{data.value}}</div>
                </div> -->
                <div class="apn-bands-info">
                    <div class="apn-bands-info-container">
                        <div class="apn-bands-info-title">APN band name: </div>
                        <div class="apn-bands-info-value">{{apnBand.apn_band_name}}</div>
                    </div>
                    <div class="apn-bands-info-container">
                        <div class="apn-bands-info-value">{{apnBand.apns}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-pdf-page>