.page-container {
    position: relative;
    /* width: 210mm; */
    width: 40vw;
    /* min-height: 297mm; */
    height: 100%;
    /* padding: 20mm;
    padding-top: 1mm; */
    padding: 1vh 4vw 10vh 4vw;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

    @media (max-width: 800px) {
        // Don’t show data-title labels 
        width: 75vw;
    }

    .page-header {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 1px solid;
        margin-top: 3vh;
        font-size: 0.9vw;
        @media (max-width: 800px) {
            font-size: 1.7vw;
        }
    }
    .page-footer {
        position: absolute;
        bottom: 0;
        left: 5vw;
        width: 83%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-top: 1px solid;
        margin-bottom: 2vh;
        font-size: 0.9vw;
        @media (max-width: 800px) {
            font-size: 1.9vw;
        }
    }
}