$font-color: #444444; 

.cover-container {
    display: flex;
    padding-top: 15%;
    padding-bottom: 30%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 2vh;
    .cover-title{
        font-size: 3vw;
        font-weight: 600;
        color: $font-color;
        @media (max-width: 800px) {
            font-size: 6vw;
        }
    }
    .cover-icon {
        img{
            width: 10vw;
            @media (max-width: 800px) {
                width: 20vw;
            }
        }
    }
    .cover-info {
        display: flex;
        flex-direction: column;
        grid-row-gap: 1vh;
        row-gap: 1vh;
        align-content: center;
        align-items: center;
        justify-content: center;
        .cover-info-content {
            display: flex;
            .info-title {
                font-size: 2vw;
                font-weight: 600;
                color: $font-color;
                @media (max-width: 800px) {
                    font-size: 4vw;
                }
            }
            .info-description {
                font-size: 2vw;
                font-weight: 400;
                color: $font-color;
                @media (max-width: 800px) {
                    font-size: 4vw;
                }
            }
        }
    }
}