$font-color: #444444; 


.destination-bands-container {
    padding: 3vh 0;
    .destination-bands-header {
        font-size: 2vw;
        font-weight: 600;
        color: $font-color;
        @media (max-width: 800px) {
            font-size: 4.3vw;
        }
    }
    .destination-bands-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 1.5vh;
        margin-top: 1.5vh;

        .table-div {
            h3 {
                @media (max-width: 800px) {
                    font-size: 3.5vw;
                }
            }
            table {
                border-collapse: collapse;
                @media (max-width: 800px) {
                    font-size: 2vw;
                }
                thead {
                    tr {
                        th {
                            border-bottom: 1px solid;
                            border-right: 1px solid;
                        }
                    }
                }
                tbody {
                    tr {
                        th, td {
                            border-right: 1px solid;
                        }
                    }
                }
            }
        }
        
    }
}